@import "tailwindcss";
@font-face {
  font-family: "BabyFont";
  src: url("/font/baby-font.otf") format("opentype");
}

:root {
  --background: #ffffff;
  --foreground: #456a5c;
  --secondary: #8cd700;
  --divider: #cadaa9;
  --font-geist-sans: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;

  --font-geist-mono: "JetBrains Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-divider: var(--divider);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--montserrat);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Lenis smooth scroll styling */
html.lenis,
html.lenis body {
  height: auto;
}

.baby {
  font-family: "BabyFont", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

/* Smooth transitions */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

@utility curvy-border {
  --mask:
    radial-gradient(268.33px at 50% 360px, #000 99%, #0000 101%)
      calc(50% - 240px) 0/480px 51% repeat-x,
    radial-gradient(268.33px at 50% -240px, #0000 99%, #000 101%) 50%
      120px/480px calc(51% - 120px) repeat-x,
    radial-gradient(268.33px at 50% calc(100% - 360px), #000 99%, #0000 101%)
      calc(50% - 240px) 100%/480px 51% repeat-x,
    radial-gradient(268.33px at 50% calc(100% + 240px), #0000 99%, #000 101%)
      50% calc(100% - 120px)/480px calc(51% - 120px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

@utility curvy-clip {
  clip-path: ellipse(150% 100% at 50% 0%);
}

@utility curvy-border-mob {
  --mask:
    radial-gradient(100.62px at 50% 135px, #000 99%, #0000 101%)
      calc(50% - 90px) 0/180px 51% repeat-x,
    radial-gradient(100.62px at 50% -90px, #0000 99%, #000 101%) 50% 45px/180px
      calc(51% - 45px) repeat-x,
    radial-gradient(100.62px at 50% calc(100% - 135px), #000 99%, #0000 101%)
      calc(50% - 90px) 100%/180px 51% repeat-x,
    radial-gradient(100.62px at 50% calc(100% + 90px), #0000 99%, #000 101%) 50%
      calc(100% - 45px)/180px calc(51% - 45px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
